<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %} Turbo Rumcajs {%endblock%} </title>
    {% block head %}
    {% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" >
  </head>

<body>
    {% block body %}
    <div id="header-div" class="clearfix with-margins page-header">
        <div class="pull-left"><a href="#"><h1 class="no-margins">Turbo Rumcajs</h1></a></div>
    </div>
    {% block menu %}

	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" href="#">Turbo Rumcajs</a>
		</div>
		<ul class="nav navbar-nav">
		<li><a href="{{ url_for('settings') }}">Settings</a></li>
		<li><a href="{{ url_for('upload') }}">Upload</a></li>
		<li><a href="{{ url_for('process') }}">Process</a></li>
		<li><a href="{{ url_for('graph') }}">Graph</a></li>
        {% if call_or_get(current_user.is_authenticated) %}
        <li> <a href="{{ url_for('user.logout') }}">Sign out</a></li>
        <li> <a href="{{ url_for('user.profile') }}">User profile</a> </li>
        {% else %}
        <li> <a href="{{ url_for('user.login') }}">Sign in</a></li>
        {% endif %}

		</ul>
	</div>
	</nav>
    {% endblock %}

    <div id="main-div" class="with-margins">
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}

    <div class="navbar-fixed-left">
		{% block column %}
		{% endblock %}
    </div>

	<div class="container">
		{% block content %}
    	{% endblock %}
	</div>
	{% endblock %}
    </div>

    <footer class="footer>
    <hr class="no-margins"/>
    <div id="footer-div" class="clearfix with-margins">
        <div class="pull-left">Turbo Rumcajs </div>
        <div class="pull-right">&copy; 2017 n0npax</div>
    </div>
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block bottom %}
    {% endblock %}
    </footer>
    </body>
</html>
