{% extends "base.html" %}

{% block head %}
   <script src='/static/js/chart.js/dist/Chart.js'></script>
   <script src='/static/js/chartjs-plugin-zoom/chartjs-plugin-zoom.js'></script>
   <script src='/static/js/Chart.js-RangeSlider/dist/RangeSlider-minimal.min.js'> </script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block column %}
      <div class="list-group">
        {% for file in filenames %}
        <li><a href="{{url_for('graph', filename=file)}}">{{file}}</a></li>
        {% endfor %}
      </div>
{% endblock %}


{% block content %}
      {% if data %}

<div>
    #TODO replace with sth better than that
    prefix data (x,y): {{data.x_prefix}} {{data.y_prefix}}
    prefix cali (x,y): {{calibration.x_prefix}} {{calibration.y_prefix}}
</div>

<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#graph1">graph1</a></li>
  <li><a data-toggle="tab" href="#graph2">graph2</a></li>
  <li><a data-toggle="tab" href="#graph3">graph3</a></li>
  <li class="active"><a data-toggle="tab" href="#graph4">graph4</a></li>
</ul>

<div class="row">
	<div class="tab-content col-md-10">
		<div id="graph1" class="tab-pane fade" style=" height: 300px; width: 100%;">
		<canvas id="myChart_1" ></canvas>
		</div>
		<hr>
		<div id="graph2" class="tab-pane fade" style=" height: 300px; width: 100%;">
		<canvas id="myChart_2" ></canvas>
		</div>
		<div id="graph3" class="tab-pane fade" style=" height: 300px; width: 100%;">
		<canvas id="myChart_3" ></canvas>
		</div>
		<div id="graph4" class="tab-pane fade in active" style=" height: 300px; width: 100%;">
		<canvas id="myChart_4" ></canvas>
		</div>
	</div>

	<div class="col-md-1">
		<div class="range range-success">
			<input id="slider_v" style="height: 300px;" type="range" name="range" min="0" step="5" onchange="update_max_value(this.value)" orient="vertical">
		</div>
	</div>

	<div class="col-md-1">
		<div class="range range-success">
			<div class="row"> just for graph4 </div>
			<div class="row"><output id="max_value"> </output></div>
			</div>
		</div>
	</div>

<script>

var chart4_max = {{data.highest_elasticity.y}};
document.getElementById("slider_v").value = chart4_max;
document.getElementById("slider_v").max = chart4_max;
document.getElementById("max_value").value = chart4_max;

function update_max_value(newValue)
{
	document.getElementById("max_value").innerHTML=newValue;
	chart4.options.scales.yAxes[0].ticks.max = parseInt(newValue);
	chart4.update();
}

var canvas1 = document.getElementById("myChart_1");
var ctx1 = canvas1.getContext("2d");

var canvas2 = document.getElementById("myChart_2");
var ctx2 = canvas2.getContext("2d");

var canvas3 = document.getElementById("myChart_3");
var ctx3 = canvas3.getContext("2d");

var canvas4 = document.getElementById("myChart_4");
var ctx4 = canvas4.getContext("2d");

//var parent = document.getElementById('parent');
//canvas.width = parent.offsetWidth;
//canvas.height = parent.offsetHeight;

var chart1 = new Chart(ctx1, {
  type: 'line',
  options: {

    zoom: {
        // Boolean to enable zooming
        enabled: true,

        // Zooming directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow zooming in the y direction
        mode: 'xy',
    },
    pan: {
        // Boolean to enable panning
        enabled: true,

        // Panning directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow panning in the y direction
        mode: 'xy'
    },

		 scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        },
    responsive: true,
    maintainAspectRatio: false
  },
  data: {
    datasets: [
      {
        label: '{{data.name}}',
		data: {{data.data|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		borderColor: "rgba(75,192,192,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,192,192,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,192,192,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

      {
        label: '{{data.name|safe}} smooth',
        data: {{data.smooth_data|safe}},
		fill: false,
        hidden: true,
		lineTension: 0.1,
		backgroundColor: "rgba(75,212,12,0.4)",
		borderColor: "rgba(75,212,12,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,212,12,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,212,12,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},


      {
        label: '{{data.name|safe}} derivative',
        data: {{data.derivative|safe}},
		fill: false,
        hidden: true,
		lineTension: 0.1,
		backgroundColor: "rgba(75,212,12,0.4)",
		borderColor: "rgba(75,212,12,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,212,12,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,212,12,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

      {
        label: '{{data.name|safe}} c_point',
        data: {{data.c_point|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(128,0,128,0.4)",
		borderColor: "rgba(128,0,128,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(128,0,128,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(128,0,128,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

      {
        label: '{{calibration.name|safe}}',
        data: {{calibration.data|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(175,12,12,0.4)",
		borderColor: "rgba(175,12,12,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(175,12,12,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(175,12,12,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},
    ]
  }
});

////////////

var chart2 = new Chart(ctx2, {
  type: 'line',
  options: {


    zoom: {
        // Boolean to enable zooming
        enabled: true,

        // Zooming directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow zooming in the y direction
        mode: 'xy',
    },
    pan: {
        // Boolean to enable panning
        enabled: true,

        // Panning directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow panning in the y direction
        mode: 'xy'
    },

		 scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        },
    responsive: true,
    maintainAspectRatio: false
  },
  data: {
    datasets: [
      {
        label: '{{calibration.name}}',
		data: {{calibration.calibrated|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		borderColor: "rgba(75,192,192,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,192,192,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,192,192,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

      {
        label: '{{data.name|safe}}',
        data: {{data.calibrated|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,212,12,0.4)",
		borderColor: "rgba(75,212,12,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,212,12,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,212,12,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},


    ]
  }
});


////////////

var chart3 = new Chart(ctx3, {
  type: 'line',
  options: {


    zoom: {
        // Boolean to enable zooming
        enabled: true,

        // Zooming directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow zooming in the y direction
        mode: 'xy',
    },
    pan: {
        // Boolean to enable panning
        enabled: true,

        // Panning directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow panning in the y direction
        mode: 'xy'
    },

		 scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        },
    responsive: true,
    maintainAspectRatio: false
  },
  data: {
    datasets: [
      {
        label: '{{data.name}}',
		data: {{data.calibration_deltas|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		borderColor: "rgba(75,192,192,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,192,192,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,192,192,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

    ]
  }
});


////////////

var chart4 = new Chart(ctx4, {
  type: 'line',
  options: {

    zoom: {
        // Boolean to enable zooming
        enabled: true,

        // Zooming directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow zooming in the y direction
        mode: 'xy',
    },
    pan: {
        // Boolean to enable panning
        enabled: true,

        // Panning directions. Remove the appropriate direction to disable
        // Eg. 'y' would only allow panning in the y direction
        mode: 'xy'
    },

		scales: {
		xAxes: [{
			type: 'linear',
			position: 'bottom'
		}],
		yAxes: [{
			ticks: {
				min: 0,
				max: chart4_max,
			},
		}]
	},
responsive: true,
    maintainAspectRatio: false
  },
  data: {
    datasets: [
      {
        label: '{{data.name}} hertz',
		data: {{data.hertz|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,192,192,0.4)",
		borderColor: "rgba(75,192,192,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,192,192,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,192,192,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

      {
        label: '{{data.name|safe}} sneddon',
        data: {{data.sneddon|safe}},
		fill: false,
		lineTension: 0.1,
		backgroundColor: "rgba(75,212,12,0.4)",
		borderColor: "rgba(75,212,12,1)",
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: "rgba(75,212,12,1)",
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: "rgba(75,212,12,1)",
		pointHoverBorderColor: "rgba(220,220,220,1)",
		pointHoverBorderWidth: 2,
		pointRadius: 1,
		pointHitRadius: 10
	},

    ]
  }
});


</script>
{% endif %}

{% endblock %}
